body {
    text-align: center;
    width: 300px;
    height: auto;
}

#spreadsheet-id-ex {
    font-weight: bold;
    color: #3870b9;
}

#spreadsheet-id,
#sheet-name {
    width: 250px;
}

#spreadsheet-creds-form {
    margin: 10px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #dcdde7;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 100%;
    right: 100%;
    margin-right: -60px;

    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext p {
    overflow-wrap: break-word;
}

#create-sheet-btn {
    font-size: 0.8rem;
    color: #0d5bba;
    border: 1px solid #e7f2ff;
    background-color: #e7f2ff;
    margin: 10px 0;
    border-radius: 5px;
}

#create-sheet-btn:hover {
    border-color: #97b4ee;
    color: #4991e9;
}

#link {
    width: 300px;
    overflow-wrap: break-word;
}

#link a, #link a:visited {
    color: #3984e0;
}

#link a:hover {
    color: #97b4ee;
}

#form {
    margin-top: 15px;
}

fieldset {
    background-color: white;
    color: #0d5bba;
    border: 1px solid #0d5bba;
}

.col {
    margin-top: 10px;
}

.button {
    border: 1px solid #0d5bba;
    border-radius: 13px;
    padding: 5px 10px;
    color: #0d5bba;
    background-color: white;
    margin-top: 10px;
}

.remove-btn {
    background-color: white;
    color: #df2929;
    border: 1px solid gray;
    margin-left: 2px;
    padding: 2px 6px;
}

#submit-btn,
#save-btn {
    background-color: #0d5bba;
    color: white;
}

.button:hover {
    background-color: #e7f2ff;
}

#submit-btn:hover, #save-btn:hover {
    background-color: #044593;
}

.remove-btn:hover {
    background-color: #faeaea;
}

.highlight {
    font-weight: bold;
    color: #1b9659;
}

.hide {
    display: none;
}