body {
    text-align: center;
    width: 300px;
    height: auto;
}

.spreadsheet-tip {
    border: 1px solid grey;
    word-wrap: break-word;
    text-align: start;
    font-size: 0.9rem;
}

#spreadsheet-id-ex {
    font-weight: bold;
    color: rgb(69, 69, 161);
}

#spreadsheet-id, #sheet-name {
    width: 250px;
}

select {
    margin-top: 10px;
}

#save-btn {
    margin-top: 10px;
}

.hide {
    display: none;
}
